<div class="flex flex-col justify-center text-4xl font-extrabold tracking-[-0.04em] text-center h-50 py-8">
  Match Results
</div>
<div class="overflow-hidden">
  <ul role="list" class="divide-y divide-gray-300">
    <% @contestants.each do |contestant| %>
      <% if contestant.user == current_user %>
        <%= render partial: "contestant_item",
                   locals: {
                     contestant: contestant,
                     background_class: "bg-slate-200"
                   }
        %>
      <% else %>
        <%= render partial: "contestant_item",
                   locals: {
                     contestant: contestant,
                   }
        %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="flex flex-col flex-grow justify-end px-6 pb-8">
  <%= link_to "Back to rankings", root_path, class: "btn-primary w-full sm:w-48 sm:mx-auto" %>
</div>
