<div class="flex flex-col justify-center text-4xl font-extrabold tracking-[-0.04em] text-center h-50 py-8">
  Leaderboard
</div>
<div class="flex flex-col flex-grow overflow-y-auto mb-8">
  <div class="overflow-y-auto">
    <ul role="list" class="divide-y divide-gray-200">
      <% @users.each_with_index do |user, index| %>
        <% if user == current_user %>
          <%= render partial: "user_item",
                     locals: {
                       user: user,
                       index: index,
                       background_class: "bg-slate-200" }
          %>
        <% else %>
          <%= render partial: "user_item",
                     locals: {
                       user: user,
                       index: index
                     }
          %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="flex flex-col flex-grow justify-end px-6 pb-8 space-y-4">
  <%= link_to "New race", new_contest_path, class: "btn-primary w-full sm:w-48 sm:mx-auto" %>
  <%= link_to "History", contests_path, class: "btn-secondary w-full sm:w-48 sm:mx-auto" %>
</div>
