<div class="basis-3/4 flex flex-grow items-center">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <tr>
      <th class="w-20 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
      </th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Name
      </th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Score
      </th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    <tr>
      <td class="w-20 px-6 py-4 whitespace-nowrap">
        1
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        Ove
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        1200
      </td>
    </tr>
    <tr>
      <td class="w-20 px-6 py-4 whitespace-nowrap">
        2
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        Viktar
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        1000
      </td>
    </tr>
    <tr>
      <td class="w-20 px-6 py-4 whitespace-nowrap">
        3
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        Chiara
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        800
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4 whitespace-nowrap">
        4
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        Max
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        700
      </td>
    </tr>
    </tbody>
  </table>

</div>
<div class="basis-1/4 flex items-center justify-center">
  <div class="w-full">
    <% if user_signed_in? %>
      <%= button_to "Start and join match",
                    matches_path,
                    method: :post,
                    class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full text-lg mb-4",
                    data: { turbo_frame: "main_frame" }
      %>
      <%= button_to "Join existing match",
                    matches_path,
                    method: :post,
                    class: "outline outline-blue-500 text-blue-500 hover:bg-blue-100 font-bold py-2 px-4 rounded w-full text-lg",
                    data: { turbo_frame: "main_frame" }
      %>
    <% else %>
      <%= button_to 'Sign in with Google',
                    user_google_oauth2_omniauth_authorize_path,
                    class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center w-full text-lg',
                    data: { turbo: false }
      %>
    <% end %>
  </div>
</div>
