<div class="flex w-full gap-x-4 outline outline-blue-500 rounded py-2 px-4 mb-4">
  <div class="w-12 h-12 bg-blue-800 text-white rounded-full flex items-center justify-center text-lg font-bold"><%= player.user.name.split.map(&:first).map(&:upcase).join %></div>
  <div class="min-w-0 flex-auto">
    <p class="text-sm font-semibold leading-6 text-gray-900"><%= player.user.name %></p>
    <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= player.user.email %></p>
  </div>
  <div class="flex flex-col items-end justify-center">
    <%= button_to "Remove",
                  run_player_path(player.run, player),
                  method: :delete,
                  class: "text-sm leading-6 text-gray-900" %>
  </div>
</div>


