<%= link_to "Join", new_match_participant_path(@match) %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  <% @match.participants.each do |participant| %>
    <tr>
      <td><%= participant.user.name %></td>
      <td><%= participant.position %></td>
    </tr>
  <% end %>
  </tbody>
</table>
