<div class="basis-3/4 flex flex-col flex-grow items-center">
  <%= render @runs %>
</div>
<div class="basis-1/4 flex items-end justify-center">
  <div class="w-full">
    <%= button_to "Create run",
                  runs_path,
                  method: :post,
                  class: "btn--primary"
    %>
  </div>
</div>
