<% if user_signed_in? %>
  <%= render "layouts/logo" %>
    <%= button_to "Sign out",
      destroy_user_session_path,
      method: :delete,
      class: "bg-slate-900 hover:bg-slate-700 font-semibold py-2 px-4 rounded-lg text-md"
    %>
<% else %>
  <div class="w-full text-center">
    <%= render "layouts/logo" %>
  </div>
<% end %>
