<% if user_signed_in? %>
  <div class="flex basis-1/3 justify-start">
    <%= link_to 'GitHub',
                'https://github.com/vmakoed/kartboard',
                target: '_blank',
                rel: 'noopener noreferrer',
                class: "bg-white/0 text-slate-900 ring-1 ring-slate-900/10 hover:bg-white/25 hover:ring-slate-900/15 font-semibold py-2 px-4 rounded-lg text-md"
    %>
  </div>
  <div class="flex basis-1/3 justify-center">
    <%= render "layouts/logo" %>
  </div>
  <div class="flex basis-1/3 justify-end">
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "bg-white/0 text-slate-900 ring-1 ring-slate-900/10 hover:bg-white/25 hover:ring-slate-900/15 font-semibold py-2 px-4 rounded-lg text-md"
    %>
  </div>
<% else %>
  <div class="w-full text-center">
    <%= render "layouts/logo" %>
  </div>
<% end %>
